@use "../../styles/_variables.scss" as *;

.main_btn {
  width: 300px;
  height: 50px;
  border-style: none;
  border-radius: 8px;
  @include font-style( $main-font, 700, $md, 0px, $black );
  cursor: pointer;

  &__link {
    width: 300px;
    height: 50px;
    text-decoration: none;
    color: inherit;
  }

  &__background {
    background-color: $hospital-green;
    color: $white;
  }

  &__background:hover {
    opacity: 0.9;
  }

  &__border {
    border: 1px solid $hospital-green;
    background-color: $white;
    color: $hospital-green;
  }

  &__border:hover {
    background-color: rgba( $text-input-field, 0.9 );
  }

}


